.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #40128B;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  .logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 1%;
    transition: 0.5s;
    
  }
  .logoContainer:hover {
    transition: 0.5s;
    transform: scale(1.01);
  }
  .linksContainer{
    margin-right: 5%;
    display: flex;
    gap: 10%;
  }
}