.container{
  background-color: #40128B;
  background-image: linear-gradient(to bottom right, #4F709C, rgb(0, 0, 0));
  margin: 20px;
  padding: 5px;
  list-style: none;
  grid-column: span 2;
  border-radius: 0.5rem;
  text-align: center;
  margin-top:5% ;
  p {
    margin-block: 10px;
  }
  .tittle{
    font-size:larger;
  }
  img{
    border-radius: 1rem;
  }
}